# Swift Package Manager
.build/
.swiftpm/

# Xcode
build/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Cursor
.cursor/

# Scripts output
scripts/*.log
docs